@import url(http://fonts.googleapis.com/css?family=Uncial+Antiqua);

body { background:#000;
margin: 0px; 
padding: 0px;
font-family: "Uncial Antiqua", cursive;}

.wrapper { background:#CCC; 
width:1000px; 
border-top: 10px solid #CCC; 
border-right: 2px solid #CCC; border-bottom: 5px solid #CCC; 
border-left: 2px solid #CCC;
margin: 10px auto; }

.navigation {
	margin: 20px 0px 20px 0px;
	padding: 0px;
	text-align: center;
}
.navigation li {
	display: inline;
	text-align: center;
	margin: 10px;
}

.navigation li a {
	background: #F2F2F2;
	padding: 10px 30px;
	margin-right: 40px;
	border: 2px solid #222940;
	color: #222940;
	text-decoration: none;
	border-radius: 500px;
	font-family: "Uncial Antiqua", cursive;
	text-align: center;
	font-size: 11px;
}

.navigation li a:hover { color:#CCC; background-color:#333}

.content {
	text-align: center;
	color: #CCC;
	background-color: #000;
	margin: 20px;
	border-radius: 15px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
	
.main {
	color: #000;
	background-color: #EEEEEE;
	border-radius: 15px;
	text-align: left;
	margin: 20px;
	margin-bottom: 10px}
	
.content h1 { margin: 10px;}
.wrapper .content .location tr td img {
	margin: 20px;
	border-radius: 15px;
}
.wrapper .content .location tr td p {
	margin: 20px;
	font-size: 14px;
}
.wrapper .content h2 {
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	margin-bottom: 5px;
}
.wrapper .content .character {
	font-family: "Uncial Antiqua", cursive;
	font-weight: bold;
	font-size: 20px;
	color: #C79C4C;
	background-image: url(images/fellowship.jpg);
	text-align: center;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
.wrapper .content .best-scenes   {
	text-align: center;
	vertical-align: middle;
	font-family: 'Uncial Antiqua', cursive;
	background-image: url(images/arriere-plan2.jpg);
	font-size: 30px;
	color:#C79C4C;
}
